header {
  width: 100%;
  min-height: 10vh;
  background-image: url("/header-blue.png");
  background-position: bottom;
  background-size: cover;
  font-family: "Roboto", serif;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

/* Wrapper to contain content and center it */
.header-content {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: var(--background-color);
}

/* .logo {
  margin-left: 10rem;
} */

.header-logo {
  height: 3rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  text-decoration: none;
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 0.8rem;
  font-family: "Roboto", sans-serif;
  transition: ease-in-out 0.3s;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

/* Active link styling */
.nav-links.active {
  color: var(--orange-color);
  /* border-bottom: 2px solid var(--orange-color); */
}

.nav-links:hover {
  color: var(--orange-color);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--background-color);
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    height: 1rem;
    padding: 0;
    color: var(--orange-color);
    z-index: 1001;
    margin-right: -0.5rem;
  }

  .nav {
    position: fixed; /* full screen overlay */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    z-index: 1000;
    display: flex;
  }

  .nav.open {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links {
    font-size: 1.5rem;
    color: var(--text-color, #000);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: serif;
  }

  .nav-links.active {
    color: var(--orange-color);
    font-weight: bold;
  }
}

@media (max-width: 1100px) {
  .header-logo {
    height: 2.5rem;
  }

  header {
    min-height: 12vh;
  }

  .nav-links {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  header {
    min-height: 5rem;
  }
}
@media (max-width: 500px) {
  header {
    height: 12rem;
    padding-top: 1rem;
  }

  .header-logo {
    padding: 0;
    margin-left: -1rem;
    height: 2rem;
  }
}
