.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form input,
.form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  background-color: var(--transparent-green);
  color: var(--text-color);
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--text-color);
}

.form textarea {
  min-height: 10rem;
}

.form button {
  background-color: rgba(223, 108, 20, 0.3);
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.form button:hover {
  background-color: var(--orange-color);
}

.status {
  color: var(--text-color);
  font-style: italic;
}
