@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this is a global declaration*/
:root {
  --background-color: #e9f5f8;
  --text-color: #3a6a7d;
  --light-green: #8bc0bf;
  --orange-color: #85b8cb;
  --transparent-green: rgba(58, 106, 125, 0.3);
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 2 auto;
  font-family: "Roboto", sans-serif;
}

strong {
  font-weight: bolder;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}
